openapi: 3.0.0
info:
  title: Query
  version: 0.0.1

paths:
  /query:
    post:
      operationId: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RelationalQuery'
      responses:
        '200':
          description: The query result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'

components:
  schemas:
    Result:
      type: object
      oneOf:
        - $ref: '#/components/schemas/Error'
        - $ref: '#/components/schemas/Rows'
    Error:
      type: object
      properties:
        error:
          type: string
      required:
        - error
    Rows:
      type: object
      properties:
        rows:
          $ref: '#/components/schemas/RowArray'
      required:
        - rows
    RowArray:
      type: array
      items:
        $ref: '#/components/schemas/Row'
    Row:
      type: object
      additionalProperties: true
    RelationalQuery:
      type: object
      properties:
        table:
          type: string
        fields:
          type: array
          items:
            $ref: '#/components/schemas/RelationalField'
        condition:
          $ref: '#/components/schemas/RelationalQueryCondition'
        order:
          type: array
          items:
            $ref: '#/components/schemas/RelationalQueryResultOrder'
      required:
        - table
    RelationalField:
      type: object
      oneOf:
        - $ref: '#/components/schemas/field'
        - $ref: '#/components/schemas/renamingField'
    RelationalQueryCondition:
      type: object
      oneOf:
        - $ref: '#/components/schemas/equalText'
        - $ref: '#/components/schemas/equalInteger'
        - $ref: '#/components/schemas/smallerInteger'
        - $ref: '#/components/schemas/smallerOrEqualInteger'
        - $ref: '#/components/schemas/greaterInteger'
        - $ref: '#/components/schemas/greaterOrEqualInteger'
        - $ref: '#/components/schemas/equalBoolean'
        - $ref: '#/components/schemas/similarText'
        - $ref: '#/components/schemas/not'
        - $ref: '#/components/schemas/and'
        - $ref: '#/components/schemas/or'
    RelationalQueryResultOrder:
      type: object
      oneOf:
        - $ref: '#/components/schemas/field'
        - $ref: '#/components/schemas/fieldWithDirection'
    RelationalQueryOrderDirection:
      type: string
      enum: [ascending, descending]
    field:
      type: object
      properties:
        name:
          type: string
      required:
        - name
    renamingField:
      type: object
      properties:
        renaming:
          type: string
        to:
          type: string
      required:
        - renaming
        - to
    fieldWithDirection:
      type: object
      properties:
        withDirection:
          type: string
        direction:
          $ref: '#/components/schemas/RelationalQueryOrderDirection'
      required:
        - withDirection
        - direction
    equalText:
      type: object
      properties:
        equalTextField:
          type: string
        value:
          type: string
      required:
        - equalTextField
        - value
    equalInteger:
      type: object
      properties:
        equalIntegerField:
          type: string
        value:
          type: integer
      required:
        - equalIntegerField
        - value
    smallerInteger:
      type: object
      properties:
        smallerIntegerField:
          type: string
        than:
          type: integer
      required:
        - smallerIntegerField
        - than
    smallerOrEqualInteger:
      type: object
      properties:
        smallerOrEqualField:
          type: string
        than:
          type: integer
      required:
        - smallerOrEqualField
        - than
    greaterInteger:
      type: object
      properties:
        greaterIntegerField:
          type: string
        than:
          type: integer
      required:
        - greaterIntegerField
        - than
    greaterOrEqualInteger:
      type: object
      properties:
        greaterOrEqualIntegerField:
          type: string
        than:
          type: integer
      required:
        - greaterOrEqualIntegerField
        - than
    equalBoolean:
      type: object
      properties:
        equalBooleanField:
          type: string
        value:
          type: boolean
      required:
        - equalBooleanField
        - value
    similarText:
      type: object
      properties:
        similarTextField:
          type: string
        template:
          type: string
        wildcard:
          type: string
      required:
        - similarTextField
        - template
        - wildcard
    not:
      type: object
      properties:
        not:
          $ref: '#/components/schemas/RelationalQueryCondition'
      required:
        - not
    and:
      type: object
      properties:
        and:
          type: array
          items:
            $ref: '#/components/schemas/RelationalQueryCondition'
      required:
        - and
    or:
      type: object
      properties:
        or:
          type: array
          items:
            $ref: '#/components/schemas/RelationalQueryCondition'
      required:
        - or
