openapi: 3.0.0
info:
  title: Query
  version: 0.0.1

paths:
  /query:
    post:
      operationId: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Input'
      responses:
        '200':
          description: The query result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'

components:
  schemas:
    Result:
      type: object
      oneOf:
        - $ref: '#/components/schemas/Error'
        - $ref: '#/components/schemas/QueryResult'
    QueryResult:
        properties:
          sql:
            $ref: '#/components/schemas/SQL'
          rows:
            $ref: '#/components/schemas/Rows'
        required:
          - sql
          - rows
    SQL:
      properties:
        sql:
          type: string
      required:
        - sql
    Error:
      type: object
      properties:
        error:
          type: string
      required:
        - error
    Rows:
      type: object
      properties:
        rows:
          $ref: '#/components/schemas/RowArray'
      required:
        - rows
    RowArray:
      type: array
      items:
        $ref: '#/components/schemas/Row'
    Row:
      type: object
      additionalProperties: true
    Input:
      type: object
      properties:
        parameters:
          $ref: '#/components/schemas/Parameters'
        query:
          $ref: '#/components/schemas/RelationalQuery'
      required:
        - parameters
        - query
    Parameters:
      type: object
      properties:
        apiKey:
          type: string
      required:
        - apiKey
    RelationalQuery:
      type: object
      properties:
        table:
          type: string
        fields:
          type: array
          items:
            $ref: '#/components/schemas/RelationalField'
        condition:
          $ref: '#/components/schemas/RelationalQueryCondition'
        order:
          type: array
          items:
            $ref: '#/components/schemas/RelationalQueryResultOrder'
      required:
        - apiKey
        - table
    RelationalField:
      type: object
      oneOf:
        - $ref: '#/components/schemas/Field'
        - $ref: '#/components/schemas/RenamingField'
    RelationalQueryCondition:
      type: object
      oneOf:
        - $ref: '#/components/schemas/EqualText'
        - $ref: '#/components/schemas/EqualInteger'
        - $ref: '#/components/schemas/SmallerInteger'
        - $ref: '#/components/schemas/SmallerOrEqualInteger'
        - $ref: '#/components/schemas/GreaterInteger'
        - $ref: '#/components/schemas/GreaterOrEqualInteger'
        - $ref: '#/components/schemas/EqualBoolean'
        - $ref: '#/components/schemas/SimilarText'
        - $ref: '#/components/schemas/Not'
        - $ref: '#/components/schemas/and'
        - $ref: '#/components/schemas/or'
    RelationalQueryResultOrder:
      type: object
      oneOf:
        - $ref: '#/components/schemas/Field'
        - $ref: '#/components/schemas/FieldWithDirection'
    RelationalQueryOrderDirection:
      type: string
      enum: [ascending, descending]
    Field:
      type: object
      properties:
        field:
          $ref: '#/components/schemas/field'
      required:
        - field
    field:
      type: object
      properties:
        name:
          type: string
      required:
        - name
    RenamingField:
      type: object
      properties:
        renamingField:
          $ref: '#/components/schemas/renamingField'
      required:
        - renamingField
    renamingField:
      type: object
      properties:
        name:
          type: string
        to:
          type: string
      required:
        - name
        - to
    FieldWithDirection:
      type: object
      properties:
        fieldWithDirection:
          $ref: '#/components/schemas/fieldWithDirection'
      required:
        - fieldWithDirection
    fieldWithDirection:
      type: object
      properties:
        name:
          type: string
        direction:
          $ref: '#/components/schemas/RelationalQueryOrderDirection'
      required:
        - name
        - direction
    EqualText:
      type: object
      properties:
        equalText:
          $ref: '#/components/schemas/equalText'
      required:
        - equalText
    equalText:
      type: object
      properties:
        field:
          type: string
        value:
          type: string
      required:
        - field
        - value
    EqualInteger:
      type: object
      properties:
        equalInteger:
          $ref: '#/components/schemas/equalInteger'
      required:
        - equalInteger
    equalInteger:
      type: object
      properties:
        field:
          type: string
        value:
          type: integer
      required:
        - field
        - value
    SmallerInteger:
      type: object
      properties:
        smallerInteger:
          $ref: '#/components/schemas/smallerInteger'
      required:
        - smallerInteger
    smallerInteger:
      type: object
      properties:
        field:
          type: string
        than:
          type: integer
      required:
        - field
        - than
    SmallerOrEqualInteger:
      type: object
      properties:
        smallerOrEqualInteger:
          $ref: '#/components/schemas/smallerOrEqualInteger'
      required:
        - smallerOrEqualInteger
    smallerOrEqualInteger:
      type: object
      properties:
        field:
          type: string
        than:
          type: integer
      required:
        - field
        - than
    GreaterInteger:
      type: object
      properties:
        greaterInteger:
          $ref: '#/components/schemas/greaterInteger'
      required:
        - greaterInteger
    greaterInteger:
      type: object
      properties:
        field:
          type: string
        than:
          type: integer
      required:
        - field
        - than
    GreaterOrEqualInteger:
      type: object
      properties:
        greaterOrEqualInteger:
          $ref: '#/components/schemas/greaterOrEqualInteger'
      required:
        - greaterOrEqualInteger
    greaterOrEqualInteger:
      type: object
      properties:
        field:
          type: string
        than:
          type: integer
      required:
        - field
        - than
    EqualBoolean:
      type: object
      properties:
        equalBoolean:
          $ref: '#/components/schemas/equalBoolean'
      required:
        - equalBoolean
    equalBoolean:
      type: object
      properties:
        field:
          type: string
        value:
          type: boolean
      required:
        - field
        - value
    SimilarText:
      type: object
      properties:
        similarText:
          $ref: '#/components/schemas/similarText'
      required:
        - similarText
    similarText:
      type: object
      properties:
        field:
          type: string
        template:
          type: string
        wildcard:
          type: string
      required:
        - field
        - template
        - wildcard
    Not:
      type: object
      properties:
        not:
          $ref: '#/components/schemas/not'
      required:
        - not
    not:
      type: object
      properties:
        condition:
          $ref: '#/components/schemas/RelationalQueryCondition'
      required:
        - condition
    and:
      type: object
      properties:
        and:
          $ref: '#/components/schemas/Conditions'
      required:
        - and
    or:
      type: object
      properties:
        or:
          $ref: '#/components/schemas/Conditions'
      required:
        - or
    Conditions:
      type: object
      properties:
        conditions:
          type: array
          items:
            $ref: '#/components/schemas/RelationalQueryCondition'
      required:
        - conditions
